/* Tipografia */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap");

/* el estilo de la fuente se aplica con: 
    font-family: 'Poppins', sans-serif;
        para titulos grandes: font-weight: 900;
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Color de los fondos */
.bg-color01 {
	/* se usa para el fondo de la pagina */
	background-color: #fef7e5;
}

.bg-color02 {
	/* se usa para el fondo del navbar */
	background-color: #b2744c;
}

/* color de las fuentes */
.ft-color01 {
	/* se usa para los titulos de las cards */
	color: #b2744c;
}
.ft-color02 {
	/* para los botones del navbar y otros textos */
	color: #f1f1f1;
}

.product-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 30px;
	height: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(./title04.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80%;
	color: white;
}

.description {
	font-size: 2rem;
	text-align: end;
	font-family: "Poppins", sans-serif;
}

.titulo {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	margin: 100px;
	font-size: 8rem;
}

#filter {
	display: grid;
	grid-template-columns: repeat(3, 512px);
	align-items: center;
	justify-content: center;
}

.item {
	position: relative;
}

.item::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.item h3 {
	position: absolute;
	margin: 0;
	padding-top: 20px;
	width: 80%;
	height: 20%;
	border-top: 4px solid rgba(255, 255, 255, 0.6);
	color: #f1f1f1;
	font-size: 3rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.item:hover::before,
.item:hover h3 {
	opacity: 1;
}

#menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-family: "Poppins", sans-serif;
	gap: 20px;
}

.title {
	text-align: center;
	margin: 100px;
}

.title h2 {
	border-bottom: 2px solid;
	width: auto;
	font-size: 4rem;
}

.dessert {
	width: 100%;
	background-color: #fefcf6;
	border: 3px solid rgba(231, 229, 229, 0.3);
	border-radius: 5px;
	box-shadow: 10px 10px 23px 3px rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease-in-out;
}

.dessert:hover {
	box-shadow: 10px 10px 23px 3px rgba(0, 0, 0, 0.3);
}

.dessert > img {
	width: 100%;
}
.dessert > h3,
.dessert > .desc {
	margin: 10px;
}

.filtro {
	display: none;
}
