/* Tipografia */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap");

/* el estilo de la fuente se aplica con: 
    font-family: 'Poppins', sans-serif;
        para titulos grandes: font-weight: 900;

/* ?------INICIO SECCION DE USO GENERAL------------*/
/* Color de los fondos */
.bg-color01 {
	/* se usa para el fondo de la pagina */
	background-color: #fef7e5;
}

.bg-color02 {
	/* se usa para el fondo del navbar */
	background-color: #b2744c;
}

/* color de las fuentes */
.ft-color01 {
	/* se usa para los titulos de las cards */
	color: #b2744c;
}
.ft-color02 {
	/* para los botones del navbar y otros textos */
	color: #f1f1f1;
}

.brand-logo{
	width: 40px;
	margin-left: 20px;
}

.brand-text{
	font-weight: 600;
	font-size: 1.5em;
	margin: 10px;
}

.container_product{
    margin: 0% 10% 0% 10% ;
}
/* ?------FIN SECCION DE USO GENERAL------------*/

/**-------------------INICIO DE PAGINA DE PRODUCTOS--------*/
.product-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 30px;
	height: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/title04.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80%;
	color: white;
    border-bottom: 5px solid #b2744c;
}

.description {
	font-size: 2rem;
	text-align: end;
	font-family: "Poppins", sans-serif;
}

.titulo {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	margin: 30px;
	font-size: 4rem;
}

#filter {
	display: grid;
	grid-template-columns: repeat(3, 512px);
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.item {
	position: relative;
}

.item::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.item h3 {
	position: absolute;
	margin: 0;
	padding-top: 20px;
	width: 80%;
	height: 20%;
	border-top: 4px solid rgba(255, 255, 255, 0.6);
	color: #f1f1f1;
	font-size: 3rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.item:hover::before,
.item:hover h3 {
	opacity: 1;
}

#menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-family: "Poppins", sans-serif;
	gap: 20px;
}

#title {
	text-align: center;
	margin: 100px;
}

#title h2 {
	border-bottom: 2px solid;
	width: auto;
	font-size: 4rem;
}

.contenido{
	padding: 0 30px;
}

.dessert {
	width: 100%;
	background-color: #fefcf6;
	border: 3px solid rgba(231, 229, 229, 0.3);
	border-radius: 5px;
	box-shadow: 10px 10px 23px 3px rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease-in-out;
}

.dessert:hover {
	box-shadow: 10px 10px 23px 3px rgba(0, 0, 0, 0.3);
}

.dessert > img {
	width: 100%;
}
.dessert > h3,
.dessert > .desc {
	margin: 10px;
}

.filtro {
	display: none;
}
/**-------------------FIN DE PAGINA DE PRODUCTOS--------*/


/**---------INICIO PAGINA DE INDEX (NAVBAR Y TESTIMONIOS)------------------*/
/*Estilo para el carousel*/
.text-carousel_desig{
    background-color: rgba(90, 43, 5, 0.356);
}

.carousel_desig{
    margin-top: 8px;
}

/* Estilo personalizado para el navbar */
.navbar {
    background-color: #B2744C;
}

.navbar01 .navbar-brand01 {
    color: #fff; /* Cambia el color del texto del logo a blanco */
    transition: 0.3s; /* Agrega una transición suave al color del logo al pasar el mouse por encima */
}

.navbar01 .navbar-brand01:hover {
    color: #fc6c05; /* Cambia el color del logo al pasar el mouse por encima */
}

.navbar-nav01 .nav-link01 {
    color: #fff; /* Cambia el color del texto de los enlaces a blanco */
    transition: 0.3s; /* Agrega una transición suave al color de los enlaces al pasar el mouse por encima */
    padding: 5px 15px; /* Agrega espacio alrededor de los enlaces */
    border-radius: 5px; /* Añade bordes redondeados a los enlaces */
}

.navbar-nav01 .nav-link01:hover {
    color: #fc6c05; /* Cambia el color de los enlaces al pasar el mouse por encima */
    background-color: #fff; /* Cambia el fondo de los enlaces al pasar el mouse por encima */
    transition: 0.3s; /* Agrega una transición suave */
}

.navbar1,
.navbar-burger,
.menu1,
.background {
    position: fixed;
}
/*esta parte de background se relaciona con el fondo de la pagina*/
.background {
    z-index: 1;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    /*background-image: url("/Asset/img/bg.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    transition: 0.5s;
}
/* crea la difuminacion de la imagen de fondo de la pagina*/
body.open .background {
    filter: blur(10px);
}

/* Estilo por defecto para pantallas grandes */
.menu-links {
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.navbar1 {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
    background-color: #b2744c;
}

.navbar-burger {
    z-index: 3;
    right: -10px;
    left: auto;
    top: -17px;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("/assets/img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

body.open .navbar-burger  {
    background-image: url("/assets/img/close.svg");
}

.menu1{
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-bottom: 20px solid white;
    transition: 0.5s;
}

body.open .menu1 {
    opacity: 1;
    visibility: visible;
}

.menu1 nav:hover a {
    opacity: 0.25;
}

.menu1 nav a:hover {
    opacity: 1;
}

.menu1 nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu1 a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
}

.menu1 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
}

.menu1 a:hover::after {
    transform: scaleX(1);
}

body.open .menu1 a {
    animation: appear 0.3s backwards;
}

/* Testimonios section */
#testimonio-section {
    margin: 0;
    min-height: 40vh;
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif
}

.container-review {
    --d: 25s;
  /* duration */
    display: grid;
    grid-template-columns: repeat(3, 300px);
  /* number of visible images + width */
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, #000 5% 95%, transparent);
    mask: linear-gradient(90deg, transparent, #000 5% 95%, transparent);
}

.container-review > div {
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-content: center;
    gap: 10px;
    background: #fff padding-box;
    border-inline: 10px solid #0000;
    animation: r var(--d) linear infinite; 
    border-radius: 10%;
	height: 100%;
}
    
.container-review > div img {
    width: 100%;
	height: 100%;
	object-fit: cover;
    grid-row: span 2; 
    border-radius: 10%;
    
}

.container-review > div * {
    margin: 0;
	height: 100%;
}

.container-review > div h3 {
    margin-top: auto; }

.container-review > div:nth-child(2) {
    animation-delay: calc(-0.16667*var(--d)); }

.container-review > div:nth-child(3) {
    animation-delay: calc(-0.33333*var(--d)); }

.container-review > div:nth-child(4) {
    animation-delay: calc(-0.5*var(--d)); }

.container-review > div:nth-child(5) {
    animation-delay: calc(-0.66667*var(--d)); }

.container-review > div:nth-child(6) {
    animation-delay: calc(-0.83333*var(--d)); }

@keyframes r {
    16.66667% {
    transform: translate(-100%); }
    16.67667% {
    transform: translate(500%); } }
/**----------------FIN PAGINA DE INDEX (NAVBAR Y TESTIMONIOS)----------------*/


/**---INICIO DE PAGINA SERVICIOS Y  SECCION DE FLIP CARD---*/
/*-------CONTAINER FOR ALL CARDS---------*/
.cards-container{
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: cover;
    flex-wrap: wrap;
    gap: 30px;
}
/*-----------ALL CARDS-------------------*/
.flip-card{
    width: 330px;
    height: 400px;
    border-radius: 20px;
    perspective: 1000px;
    background-color: transparent;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d; /* hace que la imagen colocada cambie a la otra cuando gire la card 
    si fuera flat la card girara con la imagen es decir se veria la misma imagen */
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card:hover{
    cursor: pointer;
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*oculta lo que hay de la otra cara de la card*/
}
/*---------CONTENT STYLING---------------*/
.flip-card-front, .flip-card-back{
    display: grid;
    place-items: center;
}

.flip-card-front{ /*esto es para como se ve el lado front de la card*/
    display: grid;
    place-items: center;
    border: 1px solid rgba(151, 149, 149, 0.466); /*le agrega un borde a la carta*/
    border-radius: 10px;
}


.flip-card-back{ /*esto es para como se ve la parte de atras de la card*/
    background: linear-gradient(#fffdfd, #fafafa);
    transform: rotateY(180deg); /*esto hace q la imagen regrese a su posicion original cuando quito el cursor*/
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 10px;
}
.flip-card-front img{
    width: 100%;
	height: 100%;  /* Agrega esta línea */
    object-fit: cover;  /* Asegura que la imagen se ajuste adecuadamente sin distorsionarse */
    border-radius: 10px;
}

.flip-card-back p {
    font-size: 1.1em;  /* Ajusta según tu preferencia */
    overflow: auto;  /* Agrega barras de desplazamiento si el texto es demasiado largo */
    margin: 10px;  /* Añade margen para dar espacio alrededor del texto */
    padding: 10px; /* O usa padding si prefieres */
	font-family: "Poppins", sans-serif;
	color: #b2744c
}
/**---------FIN DE PAGINA SERVICIOS Y SECCION FLIP CARD------*/

/**--------INICIO DE SECCION DEL FOOTER---------*/
footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

/* Estilos específicos para los íconos de redes sociales (estos son ejemplos y necesitas íconos reales) */
.facebook-icon:before {
    content: '\f09a'; /* Este es solo un ejemplo, necesitas los códigos Unicode de los íconos que quieras usar. */
}
/**---------FIN DE SECCION DEL FOOTER---------*/


/** --------INICIO PAGINA DE CONTACTOS-----------*/
.contact-info p {
    margin: 8px 0;
}
.main_desig{
    background-color: #f1f1f1;
}
.contact p{
    color: white;
    font-size: 1.rem;
    font-family: "Poppins", sans-serif;
}
.contact a{
        text-decoration: none;
}
#contact_form .form-input {
	border: 1px solid #e4e4e4;
}
input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:0;
}
#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 0;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-grad {
    padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #fcbc91 ;
	background: linear-gradient(to left, #fcbc91, #b2744c);
	cursor:pointer;
}
.contact-info {
	padding: 2rem 2rem 1rem;
	border-radius: 8px;
	background: #fcbc91;
	background: linear-gradient(to left, #fcbc91, #b2744c);
    background-image: url(../img/header.jpg);
    background-size: cover;
}

.contact-item {
	margin:23px 0px;
}
.contact-item i {
	font-size: 20px;
}
.contact-item p {
	line-height: 20px;
	margin: 0;
}
/**-----FIN DE PAGINA DE CONTACTOS-----*/

/** --------Estilo pagina Nosotros-------*/
.section_main {
    background-image: url('../img/section_2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed;
}
.mision-vision-box{
    background-color: rgba(143, 143, 143, 0.356);
    border-radius: 10px;
}
.art_service{
    background-color: rgba(143, 143, 143, 0.356);
    border-radius: 15px;
}


/** --------Fin pagina Nosotros-------*/

@keyframes appear {
    0% {
    opacity: 0;
    translate: 0 50px;
    }
    100% {
    opacity: 1;
    }
}

/* !---------INICIO SECCION DE MEDIA QUERYS DEL PROYECTO-------*/
/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .menu-links {
        display: none;
    }

    .navbar-burger {
        display: block;
    }
}

/* Estilos específicos para tabletas */
@media (max-width: 1024px) {
    .navbar1 {
        padding-left: 10px;
        padding-right: 20px;
    }
    
    .menu1 a {
        font-size: 28px;
    }
}

@media only screen and (max-width: 992px) {
    .product-header {
        height: 300px;
    }

    .description{
        font-size: 1.5em;
    }
    #filter{
        display: none;
    }
    .titulo{
        font-size: 3rem;
    }
    #menu {

        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .product-header {
        height: 150px;
    }
    .description{
        display: none;
    }
    .titulo{
        font-size: 2rem;
    }
    #title h2{
        font-size: 1.5rem;
    }
    #menu {

        grid-template-columns: 1fr;
        gap: 10px;
    }
	.container {
		flex-direction: column;
		align-items: center;
		margin: 50px 0;
	}
	
	.container figure {
		margin-bottom: 30px;
		align-items: center;
	}

    .text-carousel_desig{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .menu-links {
        display: none;
    }

    .navbar-burger {
        display: block;
    }
}
/* !---------FIN SECCION DE MEDIA QUERYS DEL PROYECTO-------*/
